*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100vw;
    height: 100vh;
    background-color: hsl(275, 100%, 97%);
    background-image: url('./assets/images/background-pattern-desktop.svg');
    background-size:100vw auto;
    background-repeat: no-repeat;
}