@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;700&display=swap');*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
}
body{
    background-color: hsl(275, 100%, 97%);
    background-image: url('./assets/images/background-pattern-desktop.svg');
    background-size:100vw auto;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.accordian{
    width: 35vw;
    min-width: 375px;
    background-color: hsl(0, 0%, 100%);
    border-radius: 10px;
    padding: 30px;
}
.faq{
    font-size: 35px;
    font-weight: 700;
}
.ques{
    position: relative;

}
.ques{
    font-weight: 700;
}
.ans{
    padding-top: 20px;
    color: hsl(292, 16%, 49%);
}
.sep{
    border-top: 2px solid grey;
    opacity: 0.1;
    margin-top: 20px;
    margin-bottom: 20px;
}
.mar{
    margin-top: 20px;
    margin-bottom: 20px;
}
.plus{
    position: absolute;
    right: 0;
    top:-5px;
    cursor: pointer;
}
.star{
    position: relative;
    top:15px;
    padding: 7px;
}
.hide{
    display: none;
}
.ques >span{
    display: inline-block;
    width: 95%;
}

@media (max-width:375px) {
    body{
        background-image: url('./assets/images/background-pattern-mobile.svg')
    }
    .accordian
    {
        width: 90vw;
        min-width:0px;
    }
    
}